<div class="logo">
<%=image_tag("wolf.png"); %>
</div>
<h3>ABOUT</h3>
<div class="welcome container">
  We're a group of hackers and entrepreneurs that collaboratively invest to build startups.
</div>
